* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.side-bar-parent-tabs {
  display: block;
  width: 100%;
  border: none;
  border-radius: unset;
  color: #343434;
  box-shadow: none;
  font-size: 16px;
  font-weight: 600;
  margin-top: 0px;
}

.sidebar {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  > div {
    display: flex;
    align-items: center;
  }
  .sidebar-top {
    text-align: center;
    padding: 5px;
    padding-right: 1rem;
    margin-right: 1.3rem;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    .sidebar-border {
      padding: 17px 30px 16px 30px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    .sidebar-logo {
      width: 100%;
    }
  }

  .sidebar-tabs {
    &.middle {
      padding: 5px;
      @media (max-width: 991px) {
        display: none;
        position: absolute;
        background: #fff;
        top: 64px;
        left: 0;
        right: 0;
        padding: 1rem;
        z-index: 9;
        &.active {
          display: block;
        }
        .parent-tabs {
          flex-direction: column;
        }
      }
    }
    &.bottom {
      padding: 33px 0px 0px 38px;
      @media screen and (min-width: 1024px) and (max-width: 1280px) {
        padding: 20px;
      }
    }
    position: relative;
    .sidebar-top-tabs {
      display: flex;
      align-items: center;
      &.no-border::after {
        content: none;
      }
      .button-div {
        margin-top: 0;
      }
      ul.parent-tabs {
        padding: 0px;
        font-weight: 500;
        // margin-top: 21px;
        margin-bottom: 0;
        display: flex;
        align-items: center;
        column-gap: 20px;
        span {
          font-size: 24px;
          padding-right: 20px;
        }
        li {
          .img-arrow {
            float: right;
            padding-top: 0.4rem;
            margin-right: 0rem;
          }
        }
        .dropdown {
          background-color: #fcf8f6;
          border-radius: 20px;
          padding-top: 1rem;
          padding-bottom: 0.5rem;

          .color-green {
            color: #63be4c;
          }
          .color-yellow {
            color: #0060f0;
          }
        }
        li a.active,
        li button.active {
          color: #0060f0;
          background-color: #f9fbfc;
          border-radius: 5px;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          -ms-border-radius: 5px;
          -o-border-radius: 5px;
          .link-icons:before {
            color: #0060f0;
          }
        }
        & > li {
          @extend .side-bar-parent-tabs;
          a,
          button {
            color: rgba(129, 135, 144, 1);
            background: transparent;
            display: flex;
            align-items: center;
            // padding: 28px 25px 28px 35px;
            padding: 10px;
            font-weight: 500;
            font-size: 14px;
            // padding-left: 20px;
            min-width: max-content;
            cursor: pointer;
            border: none;
            &:hover,
            &:active {
              text-decoration: none;
            }
          }
          img {
            margin-bottom: 0.3rem;
            margin-right: 19px;
            padding-right: 0;
          }
          ul {
            padding-left: 0px;
            list-style: disc;
            & > li {
              @extend .side-bar-parent-tabs;
              width: 100%;
              margin-left: auto;

              & > a {
                color: black;
                display: block;
                padding: 10px 10px 10px 15px;

                @media screen and (min-width: 1024px) and (max-width: 1300px) {
                  font-size: 14px;
                  padding-left: 9px;
                }
                :first-child {
                  width: 100%;
                }
                :last-child {
                  width: max-content;
                }
                .icon-whitecircle {
                  margin-right: 10px;
                  margin-left: 7px;
                  font-size: 10px;
                  &:before {
                    color: #86cd74;
                  }
                  &.dots::before {
                    color: #0060f0;
                  }

                  @media screen and (min-width: 1024px) and (max-width: 1280px) {
                    margin-right: 8px;
                    margin-left: 8px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .sidebar-footer {
    padding: 0px 24px 20px 24px;
    .sidebar-footer-inner-div {
      display: flex;
      justify-content: space-between;
      padding-top: 20px;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      span {
        display: flex;
        align-items: center;
        gap: 0.7rem;
        .signout-icon {
          color: #0060f0;
        }
      }
      .help {
        color: #5d6167;
        font-size: 14px;
      }
      .signout {
        color: #5d6167;
        font-size: 14px;
      }
    }
  }
}

.user-short-detail-div {
  display: flex;
  align-items: center;
  gap: 16px;
  // padding-left: 25px;
  // padding-bottom: 1rem;
  svg {
    cursor: pointer;
  }
  .user-front-div {
    width: 36px;
    height: 36px;
    background: #0060f0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
  .user-short-detail {
    text-align: left;
    border-radius: 5px;
    @media screen and (min-width: 1024px) and (max-width: 1280px) {
      padding: 12px 12px;
    }
    p {
      margin: 0px;
    }
    .user-name {
      font-size: 16px;
      margin-bottom: 5px;
      font-weight: bolder;
      color: black;
    }
    .join-date {
      font-size: 14px;
      font-weight: 300;
      font-size: 14px;
      line-height: 16px;
      color: #7a7f8d;
    }
  }
}

.btn-toggle {
  font-size: 20px;
  color: #7a7f8d;
  @media (min-width: 992px) {
    display: none;
  }
  cursor: pointer;
  i {
    cursor: pointer;
  }
}
