$bg-dark-orange: #0060f0;
$bg-light-orange: #0060f0;
$bg-exlight-orange: #e7e7e7;

// $body-background:#f9fbfc;
$body-background: #f9fbfc;
$background-color: #0060f0;
$font-family: 'Euclid Circular B', sans-serif;

$font-14: 14px;
$font-18: 18px;
$font-24: 24px;
$font-48: 48px;

$font-dark: #343434;
$font-light: #8f8f8f;
